<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="toto" class="spring.bean.User" p:name="toto" p:age="22" p:address-ref="addressToto" />
	<bean id="addressToto" class="spring.bean.Address" p:address="20 rue Dages" p:city="Toulon" p:zipcode="83" />

</beans>
